@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-size: 10px; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #212121;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #212121;
  --green: #00B8A9;
  --red: #F6416C;
  --white: #f6f6f6;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
}

.btn{
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  border-radius: 0.25rem;
  color: var(--white);
  min-width: 15rem;
  background-color: rgb(48, 48, 48);
  opacity: 0.5;
}

.btn-green{
  background-color: var(--green);
}

.btn-red{
  background-color: var(--red);
}

.btn-active{
  opacity: 1;
}

